@import "../../App.scss";
.DiaryEditor {
    // background-color: $base-yellow;
    padding: 2rem; 

}

.mainbutton {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    background-color: orange;
    margin: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;

    &:hover {
        cursor: pointer;
    }
}
.EntryList{
    overflow-y: auto;
    padding-top: 2rem;
}