.DiaryActions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    button{
        border: 1px solid grey;
        background-color: rgb(173, 216, 230, 0.5);
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
        border-radius: 5px;
        
        &:hover{
            cursor: pointer;
            background-color: rgb(173, 216, 230);
        }
    }
}