*{
  margin: 0;
  padding: 0;
}

.app-container{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
}




.main-container{
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: auto 8fr;
  
  .content {
    background-color: #ecf0f1 ; 
    display: flex;
    justify-content: center;
    
    .centered{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
